.site-header {
    transition: 0.4s top ease-in;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #2b2b2b;
    background-color: rgba(34, 34, 34, 0.9);
    z-index: 999;
}

nav a.nav-link {
    color: white;
    text-transform: uppercase;
}

// Special pages ==================================================================================
.central-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px dashed deeppink;
    padding: 10px;

    p {
        margin: 16px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #222222;

    h4 {
        color: white;
        margin: 8px 0 5px 0;
        font-size: 14px;
        font-weight: bold;
    }

    p {
        color: #cccccc;
        font-size: 13px;
        margin-bottom: 6px;
    }
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

// Sidebar ========================================================================================
.app {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 999;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

// display .overlay when it has the .active class
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: black;
    background: white;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center; // background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: white;
    background: #1488db;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar {
    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
    }

    ul li a:hover {
        color: #1488db;
        background: #fff;
    }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1488db;
}

a[data-toggle="collapse"] {
    position: relative;
}