<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>The SSCC website</title><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"><meta content="SSCC,HCMUT"><meta content="The SSCC website" name="description"></head><body><div id="app"></div><script type="text/javascript" src="/js/jquery.min.js"></script><script type="text/javascript" src="/js/popper.min.js"></script><script type="text/javascript" src="/js/bootstrap.min.js"></script><script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script><script type="text/javascript" src="/vendor/bootstrap-select/js/bootstrap-select.js"></script><script type="text/javascript" src="/vendor/jquery.cookie/jquery.cookie.js"></script><script type="text/javascript" src="/vendor/swiper/js/swiper.js"></script><script type="text/javascript" src="/js/main-4e202974d0b040eaff77.js?ee374cd6149a578de77e"></script></body></html>