doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{htmlWebpackPlugin.options.title}
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1')
        meta(content=htmlWebpackPlugin.options.keywords.toString())
        meta(content=htmlWebpackPlugin.options.description name='description')
    
    body
        #app
        script(type='text/javascript' src='/js/jquery.min.js')
        script(type='text/javascript' src='/js/popper.min.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')
        script(type='text/javascript' src='/js/jquery.mCustomScrollbar.min.js')
        script(type='text/javascript' src='/vendor/bootstrap-select/js/bootstrap-select.js')
        script(type='text/javascript' src='/vendor/jquery.cookie/jquery.cookie.js')
        script(type='text/javascript' src='/vendor/swiper/js/swiper.js')
        script(type='text/javascript' src=htmlWebpackPlugin.files.chunks.main.entry)